<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanzhong.infrastructure.weight.repository.mapper.VerificationCodeMapper">

    <select id="countByPhoneAndTimeRange" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM verification_code
        WHERE phone = #{phone}
          AND send_time BETWEEN #{startTime} AND #{endTime}
    </select>

    <select id="countByIpAndTimeRange" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM verification_code
        WHERE ip = #{ip}
          AND send_time BETWEEN #{startTime} AND #{endTime}
    </select>

</mapper>
